.backdrop {
	width: 150vw;
	height: 78vh;
	background-color: black;
	background-size: cover; /* auto cover contain */
	background-repeat: no-repeat;
	background-position: fixed;
}

/*
#deal:hover {
	cursor: url(), auto;
}
*/

.deckbackshuffle img, .deckbackshuffle input {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

.deckbackshuffle img {
	height: 200px;
	width: 150px;
}

.deckbackshuffle input {
	/*
	margin-bottom: 20px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 100;
	font-size: 20px;
	*/
	background-color: transparent;
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;
	border: 2px solid blue;
}

#hand img {
	margin: 7px;
	height: 225px;
	width: 150px;
	float: left;
}

.orientationDown {
	transform: rotate(180deg);
}
